<div class="container">
  
  <h2>Login - change</h2>
  <form action="/login" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit" value="LOGIN">
  </form>

  <h2>Create New Account</h2>
  <form action="/new" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit" value="CREATE">
  </form>
</div>
